html, body{
    height: 100vh;
}


header {
    background-color: #91d3d9;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
  }
.header-top .boton_nav {
    margin: 4;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    font-weight: 600; 
    color: white;
    cursor: pointer;
}

.boton_nav:hover
{
    text-decoration:underline;
    color: cyan;
}

.parte-medio-1 {
    background-color: #c4edf1;
    width: 100%;
    height: 35%;
  }
  

  .parte-medio-2 {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45%;
  }
  
  .parte-de-abajo {
    background-color: #656a73;
    color: white;
    text-align: center;
    width: 100%;
    height: 8%;
  }
  

