html, body{
    height: 100vh;
}


#header-top {
    background-color: #91d3d9;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
  }
#header-top .boton_nav {
    margin: 4;
    padding: 0px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 120%;
    font-weight: 600; 
    color: white;
    cursor: pointer;
}

.boton_nav:hover
{
    text-decoration:underline;
    color: cyan;
}

#parte-medio-1 {
    position: relative;
    background-color: #c4edf1;
    width: 100%;
    height: 40%;
  }
  #rectangulo-gris 
  {
    position: absolute;
    background-color: #f2f2f2;
    top: 10%;
    left: 2%;
    width: 23%;
    height: 80%;
  }
  #rectangulo-gris-oscuro 
  {
    position: absolute;
    background-color: #656a73;
    width: 100%;
    height:25%;
  }
  #rectangulo-blanco-1
  {
    position: absolute;
    background-color: #ffffff;
    top: 35%;
    left: 23%;
    width: 55%;
    height: 6%;

  }
  #rectangulo-blanco-2
  {
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 23%;
    width: 55%;
    height: 6%;

  } 
  #rectangulo-blanco-3
  {
    position: absolute;
    background-color: #ffffff;
    top: 65%;
    left: 23%;
    width: 55%;
    height: 6%;
 }
#rectangulo-celeste-1
{
    position: absolute;
    background-color: #91d3d9;
    top: 80%;
    left: 23%;
    width: 55%;
    height: 6%;
}
#rectangulo-celeste-2
{
  position: absolute;
    background-color: #91d3d9;
    top: 9%;
    left: 30%;
    width: 28%;
    height: 8%;
}
#rectangulo-blanco-4
{
  position: absolute;
    background-color: #ffffff;
    top: 22%;
    left: 30%;
    width: 55%;
    height: 3%;
}
#rectangulo-blanco-5
{
  position: absolute;
    background-color: #ffffff;
    top: 30%;
    left: 30%;
    width: 55%;
    height: 3%;
}
#rectangulo-blanco-6
{
  position: absolute;
    background-color: #ffffff;
    top: 38%;
    left: 30%;
    width: 55%;
    height: 3%;
}
#rectangulo-blanco-7
{
  position: absolute;
    background-color: #ffffff;
    top: 46%;
    left: 40%;
    width: 30%;
    height: 3%;
}

  #parte-medio-2 {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45%;
  }
  #rectangulo-gris-oscuro-2
  {
    position: absolute;
    background-color: #656a73;
    top: 50%;
    left: 10%;
    width: 80%;
    height:4%;
  }
  #rectangulo-gris-claro-1
  {
    position: absolute;
    background-color: #cccbca;
    top: 58%;
    left: 10%;
    width: 80%;
    height:1%;
  }
  #rectangulo-gris-claro-2
  {
    position: absolute;
    background-color: #cccbca;
    top: 61%;
    left: 10%;
    width: 80%;
    height:1%;
  }
  #rectangulo-gris-claro-3
  {
    position: absolute;
    background-color: #cccbca;
    top: 64%;
    left: 30%;
    width: 40%; 
    height:1%;
  }
  #cuadrado-celeste-1
  {
    position: absolute;
    background-color: #91d3d9;
    top: 68%;
    left: 10%;
    width: 19%; 
    height:12%;
  }
  #cuadrado-celeste-2
  {
    position: absolute;
    background-color: #91d3d9;
    top: 68%;
    left: 41%;
    width: 19%; 
    height:12%;
  }
  #cuadrado-celeste-3
  {
    position: absolute;
    background-color: #91d3d9;
    top: 68%;
    left: 71%;
    width: 19%; 
    height:12%;
  }
  #linea-oscura-1
  {
    position: absolute;
    background-color: #656a73;
    top: 82%;
    left: 10%;
    width: 19%; 
    height:2%;
  }
  #linea-oscura-2
  {
    position: absolute;
    background-color: #656a73;
    top: 82%;
    left: 41%;
    width: 19%; 
    height:2%;
  }
  #linea-oscura-3
  {
    position: absolute;
    background-color: #656a73;
    top: 82%;
    left: 71%;
    width: 19%; 
    height:2%;
  }
  #linea-clara-1-c1
  {
    position: absolute;
    background-color: #cccbca;
    top: 85%;
    left: 10%;
    width: 19%; 
    height:1%;
  }
  #linea-clara-2-c1
  {
    position: absolute;
    background-color: #cccbca;
    top: 85%;
    left: 41%;
    width: 19%; 
    height:1%;
  }
  #linea-clara-3-c1
  {
    position: absolute;
    background-color: #cccbca;
    top: 85%;
    left: 71%;
    width: 19%; 
    height:1%;
  }
  #linea-clara-4-c2
  {
    position: absolute;
    background-color: #cccbca;
    top: 87%;
    left: 10%;
    width: 19%; 
    height:1%;
  }
  #linea-clara-5-c2
  {
    position: absolute;
    background-color: #cccbca;
    top: 87%;
    left: 41%;
    width: 19%; 
    height:1%;
  }
  #linea-clara-6-c2
  {
    position: absolute;
    background-color: #cccbca;
    top: 87%;
    left: 71%;
    width: 19%; 
    height:1%;
  }
  #linea-clara-7-c3
  {
    position: absolute;
    background-color: #cccbca;
    top: 89%;
    left: 14%;
    width: 12%; 
    height:1%;
  }
  #linea-clara-8-c3
  {
    position: absolute;
    background-color: #cccbca;
    top: 89%;
    left: 45%;
    width: 12%; 
    height:1%;
  }
  #linea-clara-9-c3
  {
    position: absolute;
    background-color: #cccbca;
    top: 89%;
    left: 75%;
    width: 12%; 
    height:1%;
  }

  #parte-de-abajo {
    background-color: #656a73;
    color: white;
    text-align: center;
    width: 100%;
    height: 6%;
  }
  

